h1 {
	align-self: end;
	margin-left: 5%;
	font-size: 150%;
}
h4 {
	font-size: 200%;
	color: rgb(57, 226, 57);
}
a:link {
	text-decoration:none;
}
.logo-devlab{
	width : auto;
	max-height: 75%;
	align-self: center;
	opacity: 0.7;
	transition-duration: 0.2s;
}

.logo-devlab:hover {
	opacity: 1;
}

h3 {
	font-size: 150%;
	transition-duration: 0.4s;
}
.test {
	height: 100%;
	width: 100%;
	border-radius: var(--spacing-l);
	background-color: rgba(29, 230, 29, 0);
	transition-duration: 0.2s;
	cursor: pointer;
}
.bg {
background-color: rgba(29, 230, 29, 0.7);
}
.button-c {
	display: flex;
	height: 100px;
	width: 300px;
	border-radius: 10px;
	align-self: center;
	background-color: rgb(0, 128, 0);
	transition-duration: 0.2s;
	justify-content: center;
}
.button-c:hover {
	background-color: rgb(0, 95, 0);
}